.accordion-widget .accordion-group.grey {
	border:2px solid #333
}
.accordion-widget .accordion-group.grey:hover {
	border-color:#1a1a1a !important
}
.accordion-widget .accordion-group.grey .accordion-toggle {
	background:#333 !important;
	color:#fff
}
.accordion-widget .accordion-group.grey .accordion-toggle:hover {
	background:#1a1a1a !important
}
.font-grey {
	color:#333
}
ul>li.grey,.label-grey {
	background:#333
}
.progress .bar.bar-grey {
	background:#333
}
.pricing-tables .pricing.grey>li.head {
	background:#333
}
.pricing-tables .pricing.grey>li.head .info {
	background:#404040
}
.pricing-tables .pricing.grey>li.head .name {
	background:#1a1a1a
}
.btn.btn-grey {
	background:#333;
	color:#fff !important
}
.btn.btn-grey:hover {
	background:#1a1a1a
}
.box.box-color.grey .box-title {
	background:#333 !important
}
.box.box-color.grey .box-title .actions>a:hover {
	color:#333
}
.box.box-color.grey .form-wizard .wizard-steps li.active .single-step .title {
	background:#333
}
.box.box-color.grey .btn.btn-primary {
	background:#333
}
.box.box-bordered.box-color.grey .box-title {
	border-color:#333 !important
}
.box.box-bordered.box-color.grey .box-content {
	border-color:#333 !important
}
.box.box-bordered.box-color.grey .slimScrollDiv {
	border-bottom:2px solid #333
}
.timeline>li .timeline-content .left .icon.grey {
	background:#333
}



.theme-grey .daterangepicker .active {
	background:#333
}
.theme-grey .mobile-sidebar-toggle {
	color:#fff
}
.theme-grey #navigation .dropdown-menu {
	border-color:#333
}
.theme-grey #navigation .dropdown-menu>li.dropdown-submenu .dropdown-menu {
	border-top:2px solid #333
}
.theme-grey #navigation .dropdown-menu>li.dropdown-submenu:hover>a,.theme-grey #navigation .dropdown-menu>li.dropdown-submenu:focus>a {
	background:#333
}
.theme-grey #navigation .dropdown-menu>li>a:hover {
	background:#333
}
.theme-grey .datepicker.datepicker-dropdown .datepicker-days .active,.theme-grey .datepicker.datepicker-dropdown .datepicker-years .active,.theme-grey .datepicker.datepicker-dropdown .datepicker-months .active {
	background:#333
}
.theme-grey .datepicker.datepicker-dropdown .datepicker-days .active:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-years .active:hover,.theme-grey .datepicker.datepicker-dropdown .datepicker-months .active:hover {
	background:#1a1a1a
}
.theme-grey .form-wizard .wizard-steps li.active .single-step .title {
	background:#333
}
.theme-grey .btn.btn-primary {
	background:#333
}
.theme-grey.login {
	background:#333
}
.theme-grey a {
	color:#333
}
.theme-grey .btn {
	color:#333
}
.theme-grey .btn.btn-primary {
	background:#333;
	color:#fff
}
.theme-grey .btn.btn-inverse,.theme-grey .btn.btn-success,.theme-grey .btn.btn-danger {
	color:#fff
}
.theme-grey.locked {
	background:#333 !important
}
.theme-grey.locked .pull-left a {
	background:#1a1a1a
}
.theme-grey.locked .pull-left a:hover {
	background:#000
}
.theme-grey #navigation {
	background:#333
}
.theme-grey #navigation .toggle-mobile {
	background:#1a1a1a
}
.theme-grey #navigation .mobile-nav.open {
	background:#333
}
.theme-grey #navigation .mobile-nav.open>li.active>a {
	background:#000
}
.theme-grey #navigation .mobile-nav.open>li.active>ul {
	background:#000
}
.theme-grey #navigation .mobile-nav.open>li>a {
	background:#1a1a1a
}
.theme-grey #navigation .mobile-nav.open>li>ul {
	background:#1a1a1a
}
.theme-grey #navigation .main-nav>li.active>a:hover {
	background:#fff
}
.theme-grey #navigation .main-nav>li.active.open>a {
	background:#fff
}
.theme-grey #navigation .main-nav>li.open>a {
	background:#1a1a1a
}
.theme-grey #navigation .main-nav>li>a:hover {
	background:#1a1a1a
}
.theme-grey #navigation .user .icon-nav>li>a:hover {
	background:#1a1a1a
}
.theme-grey #navigation .user .dropdown.open {
	background:#1a1a1a
}
.theme-grey #navigation .user .dropdown>a:hover {
	background:#1a1a1a
}
.theme-grey #navigation .dropdown-menu {
	border-color:#333
}
.theme-grey #navigation .dropdown-menu>li>a:hover {
	background:#333
}
.theme-grey .search-form .search-pane button[type="submit"] {
	background:#333
}
.theme-grey .messages>li.insert .submit button {
	background:#333
}
.theme-grey .messages>li.right .name {
	color:#000
}
.theme-grey .messages>li.right .message {
	background:#999
}
.theme-grey .messages>li.right .message p {
	color:#000
}
.theme-grey .messages>li.right .message .time {
	color:#000
}
.theme-grey .messages>li.right .message .caret {
	border-left:7px solid #999
}
.theme-grey .letterbox .letter>li.active {
	background:#333
}
.theme-grey .calendar .fc-content .fc-event .fc-event-inner {
	background:#333
}
.theme-grey .calendar .fc-button.fc-state-active {
	background:#333
}
.theme-grey .calendar .fc-button.fc-state-active:hover {
	background:#333
}
.theme-grey .table.table-user tr.alpha td.alpha-val span {
	background:#333
}
.theme-grey .tagsinput#textfield_tagsinput .tag,.theme-grey .ms-container .multi-custom-header,.theme-grey .slider .ui-slider-handle,.theme-grey .form-wizard .wizard-steps li.active .single-step .title,.theme-grey .user-list h4,.theme-grey .nav.nav-pills>li.active>a,.theme-grey .nav.nav-list>li.active>a,.theme-grey .table.table-colored-header thead th,.theme-grey .table.table-colored-header thead td,.theme-grey .dataTables_wrapper .dataTables_paginate>span>a.paginate_active,.theme-grey .elfinder-navbar .ui-state-active,.theme-grey .pagination.pagination-custom li.active a:hover,.theme-grey .pagination.pagination-custom li.active a {
	background:#333
}
.theme-grey .elfinder-navbar .ui-state-active {
	border-color:#333
}
.theme-grey #main .box .box-title .tabs>li.active>a {
	background:#333
}
.theme-grey #main .box.box-color .box-title {
	background:#333
}
.theme-grey #main .box.box-color .box-title .tabs>li.active>a {
	background:#fff;
	color:#333
}
.theme-grey #main .box.box-color .box-title .tabs>li>a:hover {
	color:#333
}
.theme-grey #main .box.box-bordered.box-color .box-title {
	border-color:#333
}
.theme-grey #main .box.box-bordered.box-color .box-content {
	border-color:#333
}



ul>li.lightred,.label-lightred {
	background:#e63a3a
}

.accordion-widget .accordion-group.lightgrey {
	border:2px solid #666
}
.accordion-widget .accordion-group.lightgrey:hover {
	border-color:#4d4d4d !important
}
.accordion-widget .accordion-group.lightgrey .accordion-toggle {
	background:#666 !important;
	color:#fff
}
.accordion-widget .accordion-group.lightgrey .accordion-toggle:hover {
	background:#4d4d4d !important
}
.font-lightgrey {
	color:#666
}
ul>li.lightgrey,.label-lightgrey {
	background:#666
}
.progress .bar.bar-lightgrey {
	background:#666
}
.pricing-tables .pricing.lightgrey>li.head {
	background:#666
}
.pricing-tables .pricing.lightgrey>li.head .info {
	background:#737373
}
.pricing-tables .pricing.lightgrey>li.head .name {
	background:#4d4d4d
}
.btn.btn-lightgrey {
	background:#666;
	color:#fff !important
}
.btn.btn-lightgrey:hover {
	background:#4d4d4d
}
.box.box-color.lightgrey .box-title {
	background:#666 !important
}
.box.box-color.lightgrey .box-title .actions>a:hover {
	color:#666
}
.box.box-color.lightgrey .form-wizard .wizard-steps li.active .single-step .title {
	background:#666
}
.box.box-color.lightgrey .btn.btn-primary {
	background:#666
}
.box.box-bordered.box-color.lightgrey .box-title {
	border-color:#666 !important
}
.box.box-bordered.box-color.lightgrey .box-content {
	border-color:#333 !important
}
.box.box-bordered.box-color.lightgrey .slimScrollDiv {
	border-bottom:2px solid #666
}
.timeline>li .timeline-content .left .icon.lightgrey {
	background:#666
}



.accordion-widget .accordion-group.satgreen {
	border:2px solid #56af45
}
.accordion-widget .accordion-group.satgreen:hover {
	border-color:#448a37 !important
}
.accordion-widget .accordion-group.satgreen .accordion-toggle {
	background:#56af45 !important;
	color:#fff
}
.accordion-widget .accordion-group.satgreen .accordion-toggle:hover {
	background:#448a37 !important
}
.font-satgreen {
	color:#56af45
}
ul>li.satgreen,.label-satgreen {
	background:#56af45
}
.progress .bar.bar-satgreen {
	background:#56af45
}
.pricing-tables .pricing.satgreen>li.head {
	background:#56af45
}
.pricing-tables .pricing.satgreen>li.head .info {
	background:#63bb53
}
.pricing-tables .pricing.satgreen>li.head .name {
	background:#448a37
}
.btn.btn-satgreen {
	background:#56af45;
	color:#fff !important
}
.btn.btn-satgreen:hover {
	background:#448a37
}
.box.box-color.satgreen .box-title {
	background:#56af45 !important
}
.box.box-color.satgreen .box-title .actions>a:hover {
	color:#56af45
}
.box.box-color.satgreen .form-wizard .wizard-steps li.active .single-step .title {
	background:#56af45
}
.box.box-color.satgreen .btn.btn-primary {
	background:#56af45
}
.box.box-bordered.box-color.satgreen .box-title {
	border-color:#56af45 !important
}
.box.box-bordered.box-color.satgreen .box-content {
	border-color:#56af45 !important
}
.box.box-bordered.box-color.satgreen .slimScrollDiv {
	border-bottom:2px solid #56af45
}
.timeline>li .timeline-content .left .icon.satgreen {
	background:#56af45
}


.btn.btn-green
{ background:#393;
  color:#fff !important; }

.btn.btn-green:hover
{ background:#267326; }

.btn.btn-satblue
{ background:#2c5e7b;
  color:#fff !important; }

.btn.btn-satblue:hover
{ background:#1f4155; }

.btn.btn-red{background:#e51400;color:#fff !important}
.btn.btn-red:hover{background:#b21000}

